 <div class="content-wrapper">
    <section class="content-header">


        <table id="example" class="table table-striped" style="width:100%">

            <thead>
                <tr>
                    <th>Category</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            
            <tbody>
                 {{#each data}}
                <tr>
                   
                   
                    <td>{{this.category}}</td>
                    <td></td>
                    <td></td>

                     
                    <td><a href="/delete-category/{{this._id}}" class="btn btn-danger "
                            onclick="return confirm('are you want delete ?')">Delete</a></td>
                          
                </tr>
  {{/each}}
            </tbody>
            

        </table>

<a href="/add-category" style="align-self: center;"><button style="background-color: rgb(113, 122, 221);">
                <h6 style="color: azure;">Addcategory</h6>
            </button></a>
    </section>
</div> --}}



