<div class="col-lg-8">
                           <h3>Address</h3> 
                            <form class="row contact_form" action="/add-address" method="post" novalidate="novalidate">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="first" name="firstname" />
                                    <span class="placeholder" data-placeholder="First name"></span>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="last" name="lastname" />
                                    <span class="placeholder" data-placeholder="Last name"></span>
                                </div>
                                
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="number" name="number" />
                                    <span class="placeholder" data-placeholder="Phone number"></span>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="email" />
                                    <span class="placeholder" data-placeholder="Email Address"></span>
                                </div>
                                
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="add1" name="address" />
                                    <span class="placeholder" data-placeholder="Address line 01"></span>
                                </div>
                                
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="city" name="city" />
                                    <span class="placeholder" data-placeholder="Town/City"></span>
                                </div>
                               <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="city" name="state" />
                                    <span data-placeholder="State"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <select class="country_select">
                                        <option value="1">Country</option>
                                        <option value="2">Country</option>
                                        <option value="4">Country</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="zip" name="pincode"
                                        placeholder="Postcode/ZIP" />
                                </d<div class="col-md-12 form-group">
                                    <input type="text" name="userId" value="{{user}}"hidden>
                                    
                                    <button type="submit"  class="btn btn-primary">Add Address</button>
                                </div>iv>
                                
                                
                            </form>
                        </div>