<form action="/login" method="POST" id="signup">

    <h1>Admin Login</h1>
    <div class="inset">


        <p id="error" style="display: none;">invalid password or username</p>
        <p id="pass" style="display: none;">Wrong password</p>
        <p id="block" style="display: none;">Account blocked</p>


        <p>
            <label for="email" style="color: white;">USERNAME</label>
            <input type="text" name="email" id="email" style="color: black;">
        </p>
        <p>
            <label for="password" style="color: white;">PASSWORD</label>
            <input type="password" name="password" id="password" style="color:black;">
        </p>

    </div>
    <p class="p-container">

        <input type="submit" id="button" name="go" id="go" value="Log in" style="width: 100%;">
    </p>
    <div>
        <p style="margin-left: 130px;">Don’t have an account? <a href="/signup">Sign Up</a> here</p>

    </div>
</form>


<form action="/otplogin" method="post" id="otp">
    <span id="otperr" style="display: none;">Number is not registered</span>
    <div class="inset">
        <input type="text" name="otp" id="mobile" style="color:black;" placeholder="Phone Number">
        <input type="submit" id="numbersubmit" name="numbersubmit" value="Otp Login" style="width: 100%;">
    </div>
</form>


<form id="otpnumber" style="display: none;">
    <div class="inset">
        <input type="text" name="otpnumbers" id="otpnumbers" style="color:black;">
        <input type="submit" id="otpsubmit" name="otpsubmit" value="OTP" style="width: 100%;  ">
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#signup").validate({
            rules: {
                email: {
                    required: true,
                    minlength: 4
                },
                password: {
                    required: true,
                    minlength: 4
                }
            }
        })
    })
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    $('#button').click((e) => {
        e.preventDefault();
        console.log('gjhgj')
        let email = $('#email').val()
        let password = $('#password').val()
        console.log('email', email, "pass", password)
        $.ajax({
            url: '/login',
            method: 'post',
            data: {
                email,
                password
            },
            success: (response) => {
                console.log('RES', response)
                if (response.status == 1) {
                    window.location.href = "/";
                } else if (response.status == 2) {
                    $('#pass').show()
                }
                else if (response.status == 4) {
                    $('#block').show()
                }
                else {
                    $('#error').show()
                }
            }
        })
    })



    //otp number

    $('#numbersubmit').click((e) => {
        e.preventDefault();
        let Mobile = $('#mobile').val()
        $.ajax({
            url: '/otplogin',
            data: { Mobile },
            method: 'post',
            success: (response) => {
                if (response.response.status == true) {
                    $('#otp').hide()
                    $('#otpnumber').show()
                } else {
                    alert('NO Otp')
                    $('#otperr').show()
                }
            }
        })

    })





        //otplogin

        $('#otpsubmit').click((e) => {
            e.preventDefault();
            console.log('ghfhgfhg')
            let otp = $('#otpnumbers').val()
            console.log('ghfhgfhg', otp)

            $.ajax({
                url: '/otpsubmit',
                data: { otp },
                method: 'post',
                success: (response) => {
                    console.log(response)
                    if (response.otp) {
                        window.location.href = '/login'

                    }

                }
            })

        })




</script>







<style>
    @import "compass/css3";

    * {
        box-sizing: border-box;
    }

    body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: white;
        padding-top: 60px;
        font-size: 12px;
        background: white url(/images/classy_fabric.png);
    }

    form {
        background: #fc1616;
        width: 500px;
        margin: 30px auto;
        border-radius: 0.4em;
        border: 1px solid #191919;
        overflow: hidden;
        position: relative;

    }

    form:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100px;
        left: 20%;

    }

    form:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 5px;
        border-radius: 50%;
        left: 34%;
        top: -7px;
        box-shadow: 0 0 6px 4px #fff;
    }

    .inset {
        padding: 20px;
        border-top: 1px solid #19191a;
    }

    form h1 {
        font-size: 18px;

        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        position: relative;
    }

    form h1:after {
        content: "";
        display: block;
        width: 250px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50px;
        pointer-events: none;
        transform: rotate(70deg);


    }

    label {
        color: #666;
        display: block;
        padding-bottom: 9px;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 8px 5px;

        border: 1px solid #222;
        box-shadow:

            border-radius: 0.3em;
        margin-bottom: 20px;
    }

    label[for=remember] {
        color: white;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 5px;
    }

    input[type=checkbox] {
        display: inline-block;
        vertical-align: top;
    }

    .p-container {
        padding: 0 20px 20px 20px;

    }

    .p-container:after {
        clear: both;
        display: table;
        content: "";
    }

    .p-container span {
        display: block;
        float: left;
        color: rgb(251, 253, 251);
        padding-top: 8px;
    }

    input[type=submit] {
        padding: 5px 20px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        box-shadow:
            inset 0 1px 0 rgba(255, 255, 255, 0.3),
            inset 0 10px 10px rgba(255, 255, 255, 0.1);
        border-radius: 0.3em;
        background: white;

        color: #fc1616;
        float: right;
        font-weight: bold;
        cursor: pointer;
        font-size: 13px;
    }

    input[type=submit]:hover {


        input[type=text]: hover,
            input[type=password]:hover,
            label:hover~input[type=text],
</style>